.DS_Store

# Compiled class file
*.class
*.bak

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage
# production
build
target
local
/deployment/
/releases/
/Output/

.idea/
/.idea/

.vscode/
/.vscode/launch.json
vpin-studio.code-workspace


vpin-studio-server/resources/scoringdb.json
vpin-studio-server/resources/vpsdb.json
vpin-studio-server/resources/system.properties

vpin-studio-server/target/
vpin-studio-ui/target/

java-runtime/
java-runtime-linux/
java-runtime-osx-arm-x64/
java-runtime-osx-x64/

# Log file
*.log
*.dmp

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.nar
*.ear
*.rar
*.iml
*.log
*.vpa

/*.jar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/resources/vbs/*.vbs
/resources/vpin-studio.db
/resources/vpin-studio.db.bak
/resources/vpin-studio.db-shm
/resources/vpin-studio.db-wal
/resources/vpin-studio.sqbpro
/resources/b2s-raw/
/resources/b2s-cropped/
/resources/flags/
resources/media-raw/
resources/media-cropped/
/resources/overlay.png
/resources/overlay.jpg
/resources/pinemhi/pinemhi.ini
/resources/text-temp/**
/resources/component-archives/**
/resources/screenshots/**
/resources/directoutputconfig.zip
/resources/VPReg/*
/resources/vpa2/*
/resources/vpa/*
/resources/vbs/*
/resources/backups/*
/resources/vpbm/vPinBackupManager.json

/config/settings.properties
/config/*.json
/config/connection.properties

/VPReg/
/dependency-reduced-pom.xml

/resources/system.properties
/resources/chrome-launcher.bat
/resources/*.db-journal
/resources/*.sqbpro
/resources/b2s/*.png
/resources/backglassdesigner/Projects/**
/resources/backgrounds/*.directb2s
/resources/directb2s/*.directb2s
/resources/pinemhi/PINemHi LeaderBoard/
/resources/pinemhi/pinemhi.ini
/resources/highscore-card-sample.png
/resources/archives/descriptor.json
/resources/archives/**
/resources/vpbm/identifiers.dat
/resources/vpbm/.screens.json
/resources/PinVolSettings.ini
/resources/PinVolTables.ini
/resources/PinVolVol.ini
/resources/menu-profile/
/resources/vpsdb.json.tmp


/doftest/DirectOutputTest/bin/Debug/
/doftest/DirectOutputTest/obj/Debug/
/doftest/.vs/DirectOutputTest/
/doftest/*.zip

/vpin-studio-screenshots.zip
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vs/devine-web/v16/.suo
.vs/VSWorkspaceState.json
.vs/slnx.sqlite

vpin-studio-logs.zip
/crash.txt
/documentation/~$discord-competitions.odp
/**/Thumbs.db
/PinVolTables.ini

/testsystem/vPinball/**/*.png
/testsystem/vPinball/**/*.mp3
/testsystem/vPinball/**/*.mp4
/testsystem/vPinball/**/*.zip
/testsystem/**/*.db

/server-restart.bat

/resources/cache/**
/resources/vpin-studio.db.backup
/resources/PinVol.bat
/resources/media-cropped/
/resources/media-raw/
/resources/vlc/
.claude/settings.local.json
/nul
/resources/vpxscripts/**