/**
 * Colors
 */

* {
   -fx-base-1: #FFF8F8;
   -fx-base-2: #C7C3C3;
   -fx-base-3: #B0ABAB;
   -fx-base-4: #888585;
   -fx-base-5: #605E5E;
   -fx-base-6: #222222;
   -fx-base-7: #111111;
   -fx-info-background: #333366;

   -fx-font-1: #FFF8F8;
   -fx-font-2: #B0ABAB;
   -fx-font-hover: #333366;

   -fx-primary-color: #333366;
   -fx-secondary-color: #111111;
   -fx-green: #33CC00;
   -fx-red: #FF3333;
   -fx-blue: #333366;
}


/**
 * Main
 */
.main, .root {
    -fx-background-color: transparent;
}

.base-selector {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 400px;
}

.green-selector {
    -fx-background-color: -fx-green;
    -fx-background-radius: 400px;
}

.game-item {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 400px;
}

.red-selector {
    -fx-background-color: -fx-red;
    -fx-background-radius: 400px;
}

.loading-selector {
    -fx-background-radius: 400px;
}

.progress-bar .bar {
    -fx-background-color: linear-gradient(to right, #111133, #333366);
}

.progress-bar {
    -fx-background-color: #000000;
}

.progress-bar > .track {
  -fx-text-box-border: #000000;
  -fx-control-inner-background: #000000;
}

.default-text {
    -fx-text-fill: #FFFFFF;
    -fx-font-size : 14px;
}

.default-title {
    -fx-text-fill: #FFFFFF;
    -fx-font-size : 18px;
    -fx-font-weight : bold;
}

.subpanel {
    -fx-background-radius: 6 6 6 6;
    -fx-border-radius: 6 6 6 6;
    -fx-background-color: #2a2a2a;
}

/**
 * Info Container
 */
.info-container {
    -fx-border-style: solid solid solid solid;
    -fx-border-color: #FFFFFF;
    -fx-border-width: 1;
    -fx-border-radius: 3px;
    -fx-background-color: -fx-info-background;
}
