<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./vpin-studio-ui.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>./vpin-studio-ui.%d{yyyy-MM-dd}.log</FileNamePattern>
            <MaxHistory>3</MaxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{dd-MM HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="out" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{dd-MM HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>
        </encoder>
<!--        <filter class="de.mephisto.vpin.ui.logging.LogFilter" />-->
    </appender>

    <logger name="javafx.fxml" level="ERROR"/>
    <logger name="javafx" level="ERROR" />
    <logger name="org.jnativehook" level="ERROR" />
    <logger name="net.dv8tion.jda.api" level="ERROR" />
    <root level="INFO">
        <appender-ref ref="rollingFile"/>
        <appender-ref ref="out"/>
    </root>
</configuration>