
header {
	position: sticky;
	top: 0;
	height: 90px;
	background: white;
}

header p {
	font-size: 9pt;
	font-family: Calibri, sans-serif;
}

footer {
	position: sticky;
	bottom: 0;
	height: 50px;
	background: white;
	font-size: 9pt;
	font-family: Calibri, sans-serif;
}

hr {
	display: flex;
	height: 2px;
	border: 0px;
	padding: 0px;
	margin: 0px;
	background: linear-gradient(to right, #009900, #ffffff);
}

a.anchor {
    display: block;
    position: relative;
    top: -80px;
    visibility: hidden;
}

content > div {
  height: 50px;
}

span.vpbm {
	color: #009900;
	text-shadow: black 0px 1px, black 1px 1px;
	font-family: Calibri, sans-serif;
}

h2 {
	margin-top: 10px;
	margin-bottom: 0px;
}
h2 span {
	font-size: 36pt;
	color: rgb(0, 153, 0);
	text-shadow: black -1px -1px, black 0px -1px, black 1px -1px, black -1px 1px, black 0px 1px, black 1px 1px;
	font-family: Calibri, sans-serif;
}
h3 {
	margin-top: 10px;
	margin-bottom: 10px;
}
h3 span {
	font-size: 24pt;
	color: rgb(0, 153, 0);
	text-shadow: black -1px -1px, black 0px -1px, black 1px -1px, black -1px 1px, black 0px 1px, black 1px 1px;
	font-family: Calibri, sans-serif;
}

p
{
	margin: 0px;
	padding: 2px;
	font-size: 11pt;
	font-family: Calibri, sans-serif;
}

dt
{
	font-size: 11pt;
	font-family: Calibri, sans-serif;
}

dt strong
{
	font-size: 12pt;
	color: rgb(0, 153, 0);
	text-shadow: black 0px 1px, black 1px 1px;
	font-family: Calibri, sans-serif;
}

dd {
	font-size: 11pt;
	font-family: Calibri, sans-serif;
}

li {
	font-size: 11pt;
	font-family: Calibri, sans-serif;
}