.keyword {
    -fx-fill: purple;
    -fx-font-weight: bold;
}
.semicolon {
    -fx-font-weight: bold;
}
.paren {
    -fx-fill: firebrick;
    -fx-font-weight: bold;
}
.bracket {
    -fx-fill: darkgreen;
    -fx-font-weight: bold;
}
.brace {
    -fx-fill: teal;
    -fx-font-weight: bold;
}
.string {
    -fx-fill: blue;
}

.comment {
	-fx-fill: darkgreen;
}

.paragraph-box:has-caret {
    -fx-background-color: #e2e9ec;
}

.styled-text-area {
    /* set the entire area's font size to the given size */
    -fx-font-size: 14;
    -fx-font-color: #C7C3C3;
}

.styled-text-area .text {
    -rtfx-background-color: #FFF8F8;
}

ParagraphText {
  -fx-tab-size: 2;
}