.debug {
    -fx-border-style: solid;
    -fx-border-color: green;
    -fx-border-width: 2;
}

/**
 * Colors
 */

* {
   -fx-base-1: #FFF8F8;
   -fx-base-2: #C7C3C3;
   -fx-base-3: #B0ABAB;
   -fx-base-4: #888585;
   -fx-base-5: #605E5E;
   -fx-base-6: #222222;
   -fx-base-7: #111111;
   -fx-info-background: #333366;

   -fx-font-1: #FFF8F8;
   -fx-font-2: #B0ABAB;
   -fx-font-hover: #333344;

   -fx-primary-color: #333366;
   -fx-secondary-color: #111111;
   -fx-green: #33CC00;
}

.filter-component {
    -fx-border-style: solid;
    -fx-border-color: -fx-base-7;
    -fx-border-width: 0 1 0 0;
    -fx-border-width: 1;
}

.toggle-button-selected {
    -fx-background-color: #6666FFAA;
}

.toggle-selected {
}

/**
 * Main
 */
.root {
    -fx-border-style: solid;
    -fx-border-color: #605E5E;
    -fx-border-width: 1;
}

.main, .root {
    -fx-background-color: -fx-base-6;
}

.window-header {
    -fx-background-color: -fx-base-7;
}

.dialog-header {
    -fx-background-color: -fx-base-7;
}

.main-toolbar {
    -fx-background-color: -fx-base-6;
    -fx-border-radius: 12 12 12 12;
    -fx-base : -fx-base-7;
}

.version-label {
    -fx-font-color: -fx-font-2;
    -fx-text-fill: -fx-font-2;
    -fx-font-size : 12px;
}

.error-container {
    -fx-padding: 6 12 6 12;
    -fx-background-color: #FF3333;
    -fx-text-fill: #FFFFFF;
    -fx-font-size : 14px;
    -fx-font-weight : bold;
}

.error-title {
    -fx-background-color: #FF3333;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 3 3 3 3;
    -fx-font-size : 14px;
    -fx-font-weight : bold;
}

.error-message {
    -fx-background-color: #FF3333;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 3 3 3 3;
    -fx-font-size : 14px;
    -fx-font-weight : normal;
}

.highscore-screen {
    -fx-border-style: solid;
    -fx-border-color: -fx-base-3;
    -fx-border-width: 2;
}

#validationContainer {
    -fx-background-color: #FF3333;
    -fx-text-fill: #FFFFFF;
    -fx-font-size : 14px;
    -fx-font-weight : bold;
}

#validationError {
    -fx-background-color: #FF3333;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 3 3 3 3;
    -fx-font-size : 14px;
    -fx-font-weight : bold;
}

/**
 * Widgets
 */
.widget-title {
    -fx-font-size : 28px;
    -fx-font-weight : bold;
    -fx-text-fill: #FFFFFF;
}

.widget-item-inverted {
    -fx-background-radius: 3 3 3 3;
    -fx-background-color: -fx-base-6;
}

/**
 * Breadcrumb
 */
.breadcrumb {
    -fx-font-weight: bold;
    -fx-font-color: -fx-base-1;
    -fx-text-fill: -fx-base-1;
    -fx-font-size : 24px;
}


/**
 * Preferences
 */
 .preference-section {
    -fx-font-weight: bold;
    -fx-font-color: -fx-base-2;
    -fx-text-fill: -fx-base-2;
    -fx-font-size : 13px;
    -fx-padding: 0 8 3 4;
    -fx-pref-width: 260;
 }

.preference-title {
    -fx-font-weight: bold;
    -fx-font-color: -fx-base-1;
    -fx-text-fill: -fx-base-1;
    -fx-font-size : 22px;
    -fx-pref-width: 450;
}

.preference-subtitle {
    -fx-padding: 12 0 0 0;
    -fx-font-weight: bold;
    -fx-font-color: -fx-font-1;
    -fx-text-fill: -fx-font-1;
    -fx-font-size : 18px;
}

.preference-description {
    -fx-font-color: -fx-font-2;
    -fx-text-fill: -fx-font-2;
    -fx-font-size : 15px;
}

.preference-label {
    -fx-font-color: -fx-font-1;
    -fx-font-size : 14px;
}

.preference-button {
    -fx-font-color: -fx-font-2;
    -fx-font-size : 16px;
    -fx-font-weight: bold;
    -fx-background-color: transparent;
    -fx-border-style: hidden hidden hidden hidden;
    -fx-background-radius: 4 4 4 4;
    -fx-text-fill: -fx-font-1;
    -fx-pref-width: 260;
    -fx-padding: 4px;
}

.preference-button:hover {
    -fx-font-color: #fff8f8;
    -fx-font-size : 16px;
    -fx-font-weight: bold;
    -fx-background-color: -fx-font-hover;
    -fx-border-style: hidden hidden hidden hidden;
    -fx-background-radius: 4 4 4 4;
    -fx-text-fill: #fff8f8;
    -fx-cursor: hand;
    -fx-pref-width: 260;
}

.preference-button-selected {
    -fx-font-color: #fff8f8;
    -fx-font-size : 16px;
    -fx-font-weight: bold;
    -fx-background-color: -fx-font-hover;
    -fx-border-style: hidden hidden hidden hidden;
    -fx-background-radius: 4 4 4 4;
    -fx-text-fill: #fff8f8;
    -fx-cursor: hand;
    -fx-pref-width: 260;
}

.ghost-icon-button {
    -fx-font-color: -fx-base-1;
    -fx-font-size : 12px;
    -fx-background-color: transparent;
    -fx-border-style: hidden hidden hidden hidden;
    -fx-text-fill: -fx-font-2;
}

.ghost-button {
    -fx-font-color: -fx-font-2;
    -fx-font-size : 32px;
    -fx-background-color: transparent;
    -fx-border-style: hidden hidden hidden hidden;
    -fx-background-radius: 4 4 4 4;
    -fx-text-fill: -fx-font-2;
}

.ghost-button-default {
    -fx-font-color: -fx-font-2;
    -fx-background-color: transparent;
    -fx-border-style: hidden hidden hidden hidden;
    -fx-background-radius: 4 4 4 4;
    -fx-text-fill: -fx-font-2;
}

.ghost-button:hover {
    -fx-font-color: #fff8f8;
    -fx-font-size : 32px;
    -fx-background-color: transparent;
    -fx-border-style: hidden hidden hidden hidden;
    -fx-background-radius: 4 4 4 4;
    -fx-text-fill: #fff8f8;
    -fx-cursor: hand;
}

.ghost-button-small {
    -fx-font-color: -fx-font-2;
    -fx-font-size : 16px;
    -fx-background-color: transparent;
    -fx-border-style: hidden hidden hidden hidden;
    -fx-text-fill: -fx-font-2;
}

.ghost-button-small:hover {
    -fx-font-color: #fff8f8;
    -fx-font-size : 16px;
    -fx-background-color: transparent;
    -fx-border-style: hidden hidden hidden hidden;
    -fx-text-fill: #fff8f8;
    -fx-cursor: hand;
}

.ghost-button-tiny {
    -fx-max-width: 14px;
    -fx-max-height: 14px;
    -fx-padding: 0px;
    -fx-font-color: -fx-font-2;
    -fx-font-size : 14px;
    -fx-background-color: transparent;
    -fx-border-style: hidden hidden hidden hidden;
    -fx-text-fill: -fx-font-2;
}

.ghost-button-tiny:hover {
    -fx-font-color: #fff8f8;
    -fx-font-size : 14px;
    -fx-background-color: transparent;
    -fx-border-style: hidden hidden hidden hidden;
    -fx-text-fill: #fff8f8;
    -fx-cursor: hand;
}

.playlist-button {
    -fx-padding: 3 0 0 0px;
    -fx-font-color: -fx-font-2;
    -fx-background-color: transparent;
    -fx-border-style: hidden hidden hidden hidden;
    -fx-text-fill: -fx-font-2;
}

.playlist-button:hover {
    -fx-font-color: #fff8f8;
    -fx-background-color: transparent;
    -fx-border-style: hidden hidden hidden hidden;
    -fx-text-fill: #fff8f8;
    -fx-cursor: hand;
}

.table-media-button {
    -fx-font-color: #FFFFFF;
    -fx-background-color: transparent;
    -fx-border-style: hidden hidden hidden hidden;
    -fx-text-fill: #FFFFFF;
    -fx-padding: 3px;
}

.table-media-button:hover {
    -fx-font-color: #fff8f8;
    -fx-background-color: #28333566;
    -fx-border-style: hidden hidden hidden hidden;
    -fx-text-fill: #fff8f8;
    -fx-cursor: hand;
}

.table-media-button-selected {
    -fx-font-color: #fff8f8;
    -fx-background-color: black;
    -fx-border-style: solid solid solid solid;
    -fx-border-color: green;
    -fx-border-width: 1px;
    -fx-border-radius: 4px;
    -fx-text-fill: #fff8f8;
    -fx-cursor: hand;
}

/**
 * Window Toolbar
 */
.header-button {
    -fx-background-color: -fx-base-7;
    -fx-border-style: hidden hidden hidden hidden;
    -fx-text-fill: #DDDDDD;
}

.header-button:hover {
    -fx-background-color: #333366;
    -fx-border-style: hidden hidden hidden hidden;
    -fx-text-fill: #fff8f8;
    -fx-cursor: hand;
}

/**
 * Navigation Buttons
 */
.navigation-button {
    -fx-min-width: 96px;
    -fx-max-width: 96px;
    -fx-min-height: 76px;
    -fx-max-height: 76px;
    -fx-background-color: -fx-base-6;
    -fx-border-style: solid solid solid solid;
    -fx-border-color: transparent;
    -fx-border-width: 1;
    -fx-font-size: 14px;
    -fx-border-color:-fx-base-6;
    -fx-text-fill: #DDDDDD;
}

.navigation-button-small {
    -fx-min-width: 96px;
    -fx-max-width: 96px;
    -fx-min-height: 56px;
    -fx-max-height: 56px;
    -fx-background-color: -fx-base-6;
    -fx-border-style: solid solid solid solid;
    -fx-border-color: transparent;
    -fx-border-width: 1;
    -fx-font-size: 10px;
    -fx-border-color:-fx-base-6;
    -fx-text-fill: #DDDDDD;
}

.navigation-button:hover, .navigation-button-small:hover {
    -fx-background-color: -fx-font-hover;
    -fx-border-style: solid solid solid solid;
    -fx-border-width: 1 1 1 1;
    -fx-border-radius: 6 6 6 6;
    -fx-background-radius: 6 6 6 6;
    -fx-border-color: #6666FF;
    -fx-text-fill: #fff8f8;
    -fx-cursor: hand;
}

.navigation-button-selected {
    -fx-background-color: -fx-font-hover;
    -fx-border-style: solid solid solid solid;
    -fx-border-width: 1 1 1 1;
    -fx-border-radius: 6 6 6 6;
    -fx-background-radius: 6 6 6 6;
    -fx-border-color: #6666FF;
    -fx-text-fill: #fff8f8;
    -fx-cursor: hand;
}

/**
 * Friends Buttons
 */
.bar-button-left {
    -fx-min-width: 114px;
    -fx-min-height: 26px;
    -fx-padding: 2 0 0 0;
    -fx-border-radius: 0 0 0 4;
    -fx-background-radius: 0 0 0 5;
    -fx-background-color: #494949;
    -fx-border-style: solid;
    -fx-border-width: 1;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-border-color: #373737;
    -fx-text-fill: #DDDDDD;
}
.bar-button-right {
    -fx-min-width: 44px;
    -fx-min-height: 26px;
    -fx-padding: 2 0 0 0;
    -fx-border-radius: 0 0 4 0;
    -fx-background-radius: 0 0 5 0;
    -fx-background-color: #494949;
    -fx-border-style: solid;
    -fx-border-width: 1;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-border-color: #373737;
    -fx-text-fill: #DDDDDD;
}

.bar-button-left:hover,.bar-button-right:hover,.bar-button-left:selected,.bar-button-right:selected {
    -fx-background-color: -fx-font-hover;
    -fx-background-color: #5858D3;
    -fx-text-fill: #fff8f8;
    -fx-cursor: hand;
}

.bar-button-selected {
    -fx-background-color: -fx-font-hover;
    -fx-background-color: #6666FF;
    -fx-text-fill: #fff8f8;
    -fx-cursor: hand;
}


/**
 * VPS Buttons
 */
.vps-table-button {
    -fx-background-color: -fx-base-6;
    -fx-border-style: solid solid solid solid;
    -fx-border-color: transparent;
    -fx-border-radius: 6 6 6 6;
    -fx-border-width: 1;
    -fx-font-size: 14px;
    -fx-border-color:-fx-base-6;
    -fx-text-fill: #DDDDDD;
}

.vps-table-button:hover {
    -fx-border-style: solid solid solid solid;
    -fx-border-width: 1 1 1 1;
    -fx-font-size: 14px;
    -fx-border-radius: 6 6 6 6;
    -fx-border-color: #6666FF;
    -fx-text-fill: #fff8f8;
    -fx-cursor: hand;
}

.vps-table-button-selected {
    -fx-background-color: -fx-font-hover;
    -fx-border-style: solid solid solid solid;
    -fx-border-width: 1 1 1 1;
    -fx-border-radius: 6 6 6 6;
    -fx-border-color: #6666FF;
    -fx-text-fill: #fff8f8;
    -fx-cursor: hand;
}



/**
 * Installer Button
 */
.installer-button {
    -fx-border-style: solid solid solid solid;
    -fx-border-style: solid solid solid solid;
    -fx-border-width: 2;
    -fx-font-size: 14px;
    -fx-border-color: #FF9933;
    -fx-border-radius: 3px;
    -fx-text-fill: #DDDDDD;
}

.installer-button:hover {
    -fx-background-color: -fx-font-hover;
    -fx-border-style: solid solid solid solid;
    -fx-border-width: 2;
    -fx-font-size: 14px;
    -fx-border-radius: 6 6 6 6;
    -fx-border-color: #FF0033;
    -fx-text-fill: #fff8f8;
    -fx-border-radius: 3px;
    -fx-cursor: hand;
}

.installer-button-selected {
    -fx-background-color: -fx-font-hover;
    -fx-border-style: solid solid solid solid;
    -fx-border-width: 1 1 1 1;
    -fx-border-radius: 6 6 6 6;
    -fx-border-color: #FF9933;
    -fx-text-fill: #fff8f8;
    -fx-border-radius: 3px;
    -fx-cursor: hand;
}

/**
 * Common Buttons
 */
.submit-button {
    -fx-border-style: solid solid solid solid;
    -fx-border-color: #6666FF;
    -fx-border-width: 1;
    -fx-font-size : 14px;
    -fx-background-color: #333366;
    -fx-text-fill: #fff8f8;
    -fx-border-radius: 3px;
}

.submit-button:hover {
    -fx-border-style: solid solid solid solid;
    -fx-border-color: #4D4DB3;
    -fx-border-width: 1;
    -fx-font-size : 14px;
    -fx-background-color: #6666FF;
    -fx-text-fill: #fff8f8;
    -fx-cursor: hand;
}

.default-button {
    -fx-border-radius: 3px;
    -fx-border-style: solid solid solid solid;
    -fx-border-color: #111111;
    -fx-border-width: 1;
    -fx-font-size : 14px;
    -fx-background-color: #272b2f;
    -fx-text-fill: #fff8f8;
}

.default-button:hover {
    -fx-border-style: solid solid solid solid;
    -fx-border-color: #4D4DB3;
    -fx-border-width: 1;
    -fx-font-size : 14px;
    -fx-background-color: -fx-font-hover;
    -fx-text-fill: #fff8f8;
    -fx-cursor: hand;
}

.warn-button {
    -fx-border-radius: 3px;
    -fx-border-color: #663333;
    -fx-border-width: 1;
    -fx-font-size : 14px;
    -fx-background-color: #CC3333;
    -fx-text-fill: #DDDDDD;
}

.warn-button:hover {
    -fx-border-color: #663333;
    -fx-border-width: 1;
    -fx-font-size : 14px;
    -fx-background-color: #FF3333;
    -fx-text-fill: #DDDDDD;
    -fx-cursor: hand;
}

/**
 * Navigation
 */
.navigation-panel {
    -fx-width: 300px;
    -fx-background-color: #272b2f;
}

/**
 * Subpanels
 */
.subpanel {
    -fx-background-radius: 6 6 6 6;
    -fx-border-radius: 6 6 6 6;
    -fx-background-color: #2a2a2a;
}

.subpanel-tabbed {
    -fx-background-radius: 0 0 6 6;
    -fx-border-radius: 0 0 6 6;
    -fx-background-color: #2a2a2a;
   /* -fx-border-style: solid;
    -fx-border-color: -fx-base-6;*/
    -fx-border-width: 0 2 2 2;
}

/**
 * Common Component Theme
 */
.base-component {
    -fx-text-fill: #FFFFFF;
    -fx-base : #111111;
}

.combo-box {
    -fx-font-size : 14px;
}

.combo-box .increment-button, .combo-box .decrement-button {
    -fx-background-color: #FFFFFF;
}

.combo-box .scroll-bar:horizontal .thumb,
.combo-box .scroll-bar:vertical .thumb {
    -fx-background-color: #FFFFFF;
	-fx-background-insets: 2, 2, 2, 2;
	-fx-background-radius: 0em;
}

.combo-box-popup {
    -fx-font-size : 14px;
}

.combo-box-popup .list-view {
    -fx-font-size : 14px;
}

.combo-box-popup .list-cell {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #000000;
}

#tableVersionsCombo .combo-box-popup .list-view .list-cell:odd {
    -fx-background-color: #2a2a2a;
}

#tableVersionsCombo .combo-box-popup .list-view .list-cell:even {
    -fx-background-color: #222222;
}

#tableVersionsCombo .combo-box-popup .list-view .list-cell:filled:hover{
    -fx-background-color: #6666FFAA;
    -fx-text-fill: white;
}

#tableVersionsCombo .combo-box-popup .list-view .list-cell:selected{
    -fx-background-color: #333366;
    -fx-text-fill: white;
}



.combo-box .list-cell:hover {
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #333366;
}

.combo-box-popup .list-view .list-cell:filled:hover{
    -fx-background-color: #333366;
    -fx-text-fill: white;
}

.text-input {
  -fx-background-color: linear-gradient(to bottom, derive(-fx-text-box-border, -10%), -fx-text-box-border),
    linear-gradient(from 0px 0px to 0px 5px, derive(#FFFFFF, -9%), #FFFFFF);
  -fx-background-insets: 0, 1;
  -fx-background-radius: 3, 2;
}

.text-area {
    -fx-font-size : 14px;
    -fx-background-color: white;
    -fx-background-insets: 0;
    -fx-focus-color: white;
    -fx-border-color: #111111;
    -fx-text-fill: white;
    -fx-font-weight: normal;
    -fx-background-radius: 3 3 3 3;
 }

.text-area:readonly {
    -fx-background-insets: 0;
    -fx-opacity: 1.0;
    -fx-text-fill: white;
    -fx-background-radius: 3 3 3 3;
}

.text-area:focused {
 -fx-background-insets: 0;
    -fx-focus-color: white;
    -fx-background-radius: 3 3 3 3;
}

.text-area .content {
    -fx-background-color: white;
}

.text-area:focused .content {
}

.hyperlink, .hyperlink:hover {
    -fx-font-size : 14px;
    -fx-text-fill: white;
    -fx-border-color: transparent;
    -fx-font-weight: normal;
    -fx-underline: true;
}

.check-box:disabled .box {
  -fx-opacity: 0.8 ;
  -fx-background-color: #B0ABAB;
  -fx-background-insets: 2, 2, 2;
  -fx-background-radius: 2px;
}

/**
 * Tabs
 */
.tab-pane .tab-header-area .tab-header-background {
}

.tab-pane {
    -fx-tab-min-height:30px;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab {
    -fx-border-style: solid solid solid solid;
    -fx-border-color:-fx-base-5;
}

.tab-pane .tab:selected {
    -fx-text-background-color: #DDDDDD;
    -fx-border-style: solid solid solid solid;
    -fx-border-color: #111111;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: -fx-font-2;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill:-fx-font-1;
}

.tab-pane .sub-tab {
    -fx-tab-min-height:30px;
    -fx-background-color: -fx-base-6;
}

.tab-pane .sub-tab .tab {
    -fx-border-style: solid solid solid solid;
    -fx-border-color: -fx-base-5;
}




/**
 * Table View
 */

.table-view {
    -fx-font-size : 14px;
    -fx-text-fill: white;
    -fx-text-background-color: #FFFFFF;
    -fx-border-style: solid solid solid solid;
    -fx-border-color: #111111;
    -fx-border-width: 1;
}
.table-row-cell {
    -fx-text-fill: #FFFFFF;
    -fx-cell-size: 40px;
    -fx-border-width: 1;
}
.table-view .table-cell{
    -fx-border-width: 1;
    -fx-text-fill: #FFFFFF;
    -fx-border-color: transparent;
}
.table-row-cell: hover {
    -fx-border-width: 1;
    -fx-background-color: #33333311;
    -fx-text-background-color: #6666FF;
}
.table-row-cell: odd{
    -fx-background-color: #93f9b911;
    -fx-text-fill: #FFFFFF;
}
.table-row-cell: even{
    -fx-background-color: #1dbbdd11;
    -fx-text-fill: #FFFFFF;
}
.table-row-cell: selected {
    -fx-text-background-color: #FFFFFF;
    -fx-font-weight: bold;
    -fx-background-color: #6666FFAA;
}
/* Row hovered */
.table-view:row-selection .table-row-cell:filled:hover {
    -fx-background-color: #6666FF55;
    -fx-text-fill: #FFFFFF;
}
/* Selected row hovered when table not focused */
.table-view:row-selection .table-row-cell:filled:focused:hover {
    -fx-background-color: #6666FF55;
    -fx-text-fill: #FFFFFF;
}
/* Selected row hovered */
 .table-view:focused .table-row-cell:filled:focused:selected:hover {
    -fx-text-background-color: #FFFFFF;
    -fx-font-weight: bold;
    -fx-background-color: #6666FFAA;
 }


/**
 * Tree View
 */
.tree-view {
    -fx-background-color: #2a2a2a;
    -fx-font-size : 14px;
    -fx-text-fill: white;
    -fx-text-background-color: #FFFFFF;
    -fx-border-style: solid solid solid solid;
    -fx-border-color: #111111;
    -fx-border-width: 1;
}
. tree-cell {
    -fx-cell-size: 40px;
}
.tree-view .cell{
    -fx-border-color: transparent;
}
. tree-cell: hover {
    -fx-border-width: 1;
    -fx-text-fill: white;
    -fx-background-color: #33333311;
    -fx-text-background-color: #6666FF;
}
. tree-cell: odd{
    -fx-background-color: #93f9b911;
}
. tree-cell: even{
    -fx-background-color: #1dbbdd11;
}
. tree-cell: selected {
    -fx-font-weight: bold;
    -fx-text-background-color: #FFFFFF;
    -fx-background-color: #6666FFAA;
}
/* Row hovered */
.tree-view: selection .tree-cell:filled:hover {
    -fx-background-color: #6666FF55;
    -fx-text-fill: #FFFFFF;
}
/* Selected row hovered when table not focused */
.tree-view: selection .tree-cell:filled:focused:hover {
    -fx-background-color: #6666FF55;
    -fx-text-fill: #FFFFFF;
}
/* Selected row hovered */
.tree-view:focused .tree-cell:filled:focused:selected:hover {
    -fx-text-background-color: #FFFFFF;
    -fx-font-weight: bold;
    -fx-background-color: #6666FFAA;
}


/**
 * TreeTable View
 */

.tree-table-view {
    -fx-font-size : 14px;
    -fx-text-fill: white;
    -fx-text-background-color: #FFFFFF;
    -fx-border-style: solid solid solid solid;
    -fx-border-color: #111111;
    -fx-border-width: 1;
}
.tree-table-row-cell {
    -fx-cell-size: 40px;
}
.tree-table-view .table-cell{
    -fx-border-color: transparent;
}
.tree-table-row-cell: hover {
    -fx-border-width: 1;
    -fx-background-color: #33333311;
    -fx-text-background-color: #6666FF;
}
.tree-table-row-cell: odd{
    -fx-background-color: #93f9b911;
}
.tree-table-row-cell: even{
    -fx-background-color: #1dbbdd11;
}
.tree-table-row-cell: selected {
    -fx-text-background-color: #FFFFFF;
    -fx-background-color: #6666FFAA;
}
/* Row hovered */
.tree-table-view:row-selection .tree-table-row-cell:filled:hover {
    -fx-background-color: #6666FF55;
    -fx-text-fill: #FFFFFF;
}
/* Selected row hovered when table not focused */
.tree-table-view:row-selection .tree-table-row-cell:filled:focused:hover {
    -fx-background-color: #6666FF55;
    -fx-text-fill: #FFFFFF;
}
/* Selected row hovered */
.tree-table-view:focused .tree-table-row-cell:filled:focused:selected:hover {
    -fx-text-background-color: #FFFFFF;
    -fx-font-weight: bold;
    -fx-background-color: #6666FFAA;
}

/**
 * List View
 */
.list-view {
    -fx-font-size: 14px;
    -fx-text-fill: white;
    -fx-text-background-color: #FFFFFF;
    /*-fx-border-style: solid solid solid solid;*/
    /*-fx-border-color: -fx-base-5;
    -fx-border-width: 1;*/
}

.list-view .list-cell:odd {
    -fx-font-size: 14px;
    -fx-text-fill: white;
    -fx-background-color: #2a2a2a;
}

.list-view .list-cell:even {
    -fx-font-size: 14px;
    -fx-text-fill: white;
    -fx-background-color: #2a2a2a;
}

.list-view .list-cell:selected {
    -fx-font-size: 14px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.list-view .list-cell:hover {
    -fx-font-size: 14px;
    -fx-text-fill: #7381fa;
}

.media-list .list-view {
    -fx-border-style: solid solid solid solid;
    -fx-border-color: #000000;
    -fx-border-width: 1;
    -fx-font-size: 14px;
    -fx-text-fill: white;
    -fx-text-background-color: #FFFFFF;
    /*-fx-border-style: solid solid solid solid;*/
    /*-fx-border-color: -fx-base-5;
    -fx-border-width: 1;*/
}

.media-list .list-view .list-cell:filled:selected {
    -fx-font-size: 14px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-color: #5252b8;
}

.media-list .list-view .list-cell:hover {
    -fx-font-size: 14px;
    -fx-text-fill: #7381fa;
}

.media-list .list-view .list-cell:odd {
    -fx-font-size: 14px;
    -fx-text-fill: white;
    -fx-background-color: #414141;
}
.media-list .list-view .list-cell:even {
    -fx-font-size: 14px;
    -fx-text-fill: white;
    -fx-background-color: #494949;
}


/**
 * Accordion & Titled Pane
 */

.titled-pane {
    -fx-text-fill: #FFFFFF;
    -fx-background-insets: 0;
    -fx-base : #111111;
}

.titled-pane .title {
    -fx-font-size: 14px;
    -fx-background-color: #2a2a2a;
    -fx-border-style: solid solid solid solid;
    -fx-border-color: #333333;
    -fx-border-width: 1;
}

.titled-pane *.content {
    -fx-background-color: #333333;
    -fx-background-insets: 0;
}

.accordion-container {
    -fx-background-color: #333333;
}

/**
 * Media Styling
 */
.media-container {
    -fx-padding: 3 3 3 3;
    -fx-background-color: -fx-base-7;
}

.media-parent {
    -fx-background-color: -fx-base-7;
}

/**
 * Info Container
 */
.info-container {
    -fx-border-style: solid solid solid solid;
    -fx-border-color: #FFFFFF;
    -fx-border-width: 1;
    -fx-border-radius: 3px;
    -fx-background-color: -fx-info-background;
}

/**
 * NagBar
 */
.nagbar-container {
    -fx-padding: 3 3 3 6;
    -fx-background-color: -fx-info-background;
}

/**
 * Date Picker
 */

.date-picker .arrow-button {
	-fx-background-color: -fx-primary-color;
	-fx-background-radius: 0;
}
.date-picker .arrow-button:hover {
	-fx-background-color: -fx-secondary-color;
}
.date-picker .arrow-button .arrow {
	-fx-background-color: white;
}
.date-picker .cell {
	-fx-background-color: white;
	-fx-font-size : 14px;
}
.date-picker .cell:hover {
	-fx-background-color: -fx-base-3;
}
.date-picker .cell:focused {
	-fx-background-color: -fx-base-3;
}
.date-picker .selected {
	-fx-background-color: -fx-primary-color;
	-fx-text-fill: white;
}
.date-picker .selected:focused {
	-fx-background-color: -fx-primary-color;
	-fx-text-fill: white;
}
.date-picker-popup  {
	-fx-border-color: transparent;
	-fx-font-size : 14px;
}
.date-picker .text-field {
	-fx-font-size : 14px;
}
.date-picker-popup .month-year-pane {
	-fx-background-color: -fx-primary-color;
}
.date-picker-popup .month-year-pane .label {
	-fx-text-fill: white;
}
.date-picker-popup .week-number-cell {1
	-fx-text-fill: -fx-secondary-color;
}
.date-picker-popup .spinner .button .left-arrow,
.date-picker-popup .spinner .button .right-arrow {
	-fx-background-color: white;
}

.text-field {
  -fx-prompt-text-fill: -fx-base-3;
}

.preference-datepicker.date-picker .date-picker-display-node {
    -fx-font-size : 14px;
    -fx-padding : 2;
	-fx-background-color: white;
    -fx-background-radius : 2 0 0 2;
    -fx-border-color : white;
    -fx-border-radius : 2 0 0 2;
}
.preference-datepicker.date-picker .arrow-button {
    -fx-padding : 0 8 2 0;
	-fx-background-color: white;
    -fx-background-radius : 0;
    -fx-border-color : white;
    -fx-border-radius : 0 2 2 0;
    -fx-font-size : 18px;
}
.preference-datepicker.date-picker .arrow-button * {
	-fx-background-color: #222222;
}

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.scroll-pane {
   -fx-background-color: transparent;
}

.scroll-bar:vertical {
}
.scroll-bar:vertical .thumb, .scroll-bar:horizontal .thumb {
    -fx-background-color:derive(#111111,96%);
	-fx-background-insets: 2, 2, 2;
	-fx-background-radius: 1em;
}

.menu-item {
    -fx-min-width: 160px;
    -fx-padding: 6 6 6 6;
    -fx-text-fill: #FFFFFF;
    -fx-background: #111111;
    -fx-background-color: #111111;
}

.menu-item .label {
    -fx-font-size: 14px;
    -fx-text-fill: #FFFFFF;
}

.menu-item .label:hover {
    -fx-font-size: 14px;
    -fx-background: #222222;
    -fx-background-color: #222222;
    -fx-text-fill: #FFFFFF;
}

.custom-menu-item, .custom-menu-item:hover{
   -fx-background-color: #222222;
   -fx-padding: 0 0 0 0;
}

.custom-menu-item .label:hover {
    -fx-background-color: #222222;
}

.dropin-menu-item, .dropin-menu-item:hover{
   -fx-padding: 3 3 3 3;
}

.dropin-menu-item .label:hover {
    -fx-background-color: transparent;
}

.copyable-label, .copyable-label:focused {
    -fx-background-color: transparent ;
    -fx-background-insets: 0px ;
}

.tooltip {
    -fx-font-size: 14;
}

.floating-toolbar {
    -fx-border-style: hidden hidden hidden hidden;
    -fx-background-radius: 6 6 6 6;
    -fx-background-color: #222222;
}


.floating-toolbar-inverted {
    -fx-border-style: hidden hidden hidden hidden;
    -fx-background-radius: 6 6 6 6;
    -fx-background-color: #111111;
}

.context-menu {
    -fx-min-width: 160px;
    -fx-background-color: #222222;
    -fx-text-fill: -fx-font-1;
}

.menu-item:focused {
    -fx-background-color: -fx-base-5;
}


.vps-button {
    -fx-cursor: hand;
    -fx-font-color: white;
    -fx-font-weight : bold;
    -fx-font-size : 11px;
    -fx-border-style: hidden hidden hidden hidden;
    -fx-background-radius: 3 3 3 3;
    -fx-padding: 2 2 2 2;
}

.vps-badge {
    -fx-font-color: white;
    -fx-font-weight : bold;
    -fx-font-size : 12px;
    -fx-border-style: hidden hidden hidden hidden;
    -fx-background-radius: 3 3 3 3;
    -fx-padding: 2 4 2 4;
}

.vps-badge-button {
    -fx-font-color: white;
    -fx-font-weight : bold;
    -fx-font-size : 14px;
    -fx-border-style: solid solid solid solid;
    -fx-border-color: #338033;
    -fx-border-radius: 3 3 3 3;
    -fx-padding: 2 4 2 4;
}

.preference-checkbox {
    -fx-padding: 18 0 0 0;
    -fx-font-color: white;
    -fx-font-size : 14px;
}


.checkbox-description {
    -fx-font-color: -fx-font-2;
    -fx-text-fill: -fx-font-2;
    -fx-font-size : 15px;
    -fx-padding: 0 0 0 26;
}

.external-component .arrow {
    -fx-background-color: #FFFFFF;
}

.external-component {
    -fx-font-color: #FFFFFF;
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #338800;
    -fx-border-color: #33AA00;
    -fx-border-style: solid;
    -fx-border-width: 1;
    -fx-border-radius: 3px;
}

.external-component:hover {
    -fx-font-color: #FFFFFF;
    -fx-text-fill: #FFFFFF;
    -fx-border-color: #33AA00;
    -fx-background-color: #339900;
}

.split-menu-button .arrow {
    -fx-background-color: white;
}

.text-button {
    -fx-font-color: #FFFFFF;
    -fx-text-fill: #FFFFFF;
    -fx-base : -fx-info-background;
}

.folder-component {
    -fx-font-color: #FFFFFF;
    -fx-text-fill: #FFFFFF;
    -fx-base : #CC9933;
}


.link-component {
    -fx-font-color: #FFFFFF;
    -fx-text-fill: #FFFFFF;
    -fx-base : #3399FF;
}

.default-headline {
    -fx-text-fill: #FFFFFF;
    -fx-font-size : 14px;
    -fx-font-weight : bold;
}

.default-text {
    -fx-text-fill: #FFFFFF;
    -fx-font-size : 14px;
}

.default-text-color {
    -fx-text-fill: #FFFFFF;
}

.default-title {
    -fx-text-fill: #FFFFFF;
    -fx-font-size : 18px;
    -fx-font-weight : bold;
}

.help-text {
    -fx-text-fill: #FFFFFF;
    -fx-font-size : 12px;
}

.action-selected {
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #FF3333;
    -fx-border-color: #990000;
    -fx-border-style: solid solid solid solid;
    -fx-border-width: 1;
    -fx-border-insets: 0 0 0 0;
    -fx-background-radius: 2 2 2 2;
}

.progress-bar > .track {
  -fx-control-inner-background: #FFF;
  -fx-background-radius: 3px;
  -fx-padding: 0;
}

.progress-bar > .bar {
    -fx-background-insets: 3px;
    -fx-background-radius: 3px;
    -fx-padding: 0;
}

.green {
    -fx-background-color: #338800;
}

.orange-label {
    -fx-text-fill: #FF9933;
    -fx-font-weight : bold;
    -fx-font-size: 14px;
}


.white-label {
    -fx-text-fill: #FFFFFF;
}

.green-label {
    -fx-text-fill: #338800;
    -fx-font-weight : bold;
    -fx-font-size: 14px;
}

.text-area {
    -fx-font-size: 14px;
}

.text-area .content {
    -fx-background-color: black;
    -fx-font-size: 14px;
}

.tile {
    -fx-border-style: hidden hidden hidden hidden;
    -fx-border-radius: 4 4 4 4;
}

.edit-mode-border {
    -fx-border-color: #6666FF;
    -fx-border-style: solid;
    -fx-border-width: 3;
}

.edit-mode-container {
    -fx-background-color: #6666FF;
}

.edit-button {
    -fx-background-color: #5555FF;
    -fx-border-style: solid solid solid solid;
    -fx-border-color: transparent;
    -fx-border-width: 1;
    -fx-font-weight: bold;
    -fx-border-radius: 3 3 3 3;
    -fx-font-size: 14px;
    -fx-border-color: #FFFFFF;
    -fx-text-fill: #DDDDDD;
}

.edit-button:hover {
    -fx-background-color: #7777FF;
    -fx-border-style: solid solid solid solid;
    -fx-font-size: 14px;
    -fx-border-color: #6666FF;
}

.custom-toggle-button-small {
    -fx-border-width: 1;
    -fx-border-color: transparent;
    -fx-border-radius: 3px;
    -fx-font-size: 10px;
}

.custom-toggle-button-small:selected {
    -fx-border-width: 1;
    -fx-font-size: 10px;
    -fx-border-color: #6666FF;
    -fx-border-radius: 3px;
    -fx-background-color: #333366; /* Selected button color */
}

.custom-toggle-button {
    -fx-border-width: 1;
    -fx-border-color: transparent;
    -fx-border-radius: 3px;
    -fx-font-size: 14px;
}

.custom-toggle-button:selected {
    -fx-border-width: 1;
    -fx-border-color: #6666FF;
    -fx-border-radius: 3px;
    -fx-background-color: #333366; /* Selected button color */
}

.custom-toggle-button2 {
    -fx-border-width: 1;
    -fx-border-color: transparent;
    -fx-border-radius: 3px;
    -fx-font-size: 14px;
}

.custom-toggle-button2:selected {
    -fx-border-width: 1;
    -fx-border-color: #44AA44;
    -fx-border-radius: 3px;
    -fx-background-color: #116611 /* Selected button color */
}

.dnd-dashed-border {
    -fx-border-color: white;
    -fx-border-width: 3;
    -fx-border-style: segments(15, 15, 15, 15);
}

.dnd-dashed-border-small {
    -fx-border-color: white;
    -fx-border-width: 2;
    -fx-border-style: segments(7, 7,7, 7);
}


.selection-panel {
    -fx-background-color: #272b2f;
    -fx-border-style: solid solid solid solid;
    -fx-border-width: 1 1 1 1;
    -fx-border-radius: 6 6 6 6;
    -fx-border-color: #272b2f;
}

.selection-panel:hover {
    -fx-background-color: #272b3f;
    -fx-border-style: solid solid solid solid;
    -fx-border-width: 1 1 1 1;
    -fx-border-radius: 6 6 6 6;
    -fx-border-color: #6666FF;
}
.selection-panel-selected {
    -fx-background-color: #272b3f;
    -fx-border-style: solid solid solid solid;
    -fx-border-width: 1 1 1 1;
    -fx-border-radius: 6 6 6 6;
    -fx-border-color: #6666FF;
}


/**
 * Color Picker custom color hiding
.color-palette .hyperlink, .color-palette .separator {
    visibility: hidden;
}
.color-palette {
    -fx-padding: 15 15 -30 15;
}
 */

 .tooltip {
    -fx-show-delay: 250ms;
    -fx-show-duration: 10s;
 }

.separator:horizontal .line {
    -fx-border-color: #272b2f;
    -fx-border-width: 1;
    -fx-border-insets: 0, 1 0 0 0;
}

.separator:vertical .line {
    -fx-border-color: #272b2f;
    -fx-border-width: 1;
    -fx-border-insets: 0, 0 0 0 1;
}
