.header-button {
    -fx-background-color: #272B2F;
    -fx-border-style: hidden hidden hidden hidden;
    -fx-text-fill: #DDDDDD;
}

.header-button:hover {
    -fx-background-color: #333366;
    -fx-border-style: hidden hidden hidden hidden;
    -fx-text-fill: #fff8f8;
    -fx-cursor: hand;
}

.navigation-button {
    -fx-background-color: #272B2F;
    -fx-border-style: hidden hidden hidden solid;
    -fx-border-width: 3;
    -fx-border-color: #272b2f;
    -fx-text-fill: #DDDDDD;
}

.navigation-button:hover {
    -fx-background-color: #333366;
    -fx-border-style: hidden hidden hidden solid;
    -fx-border-width: 3;
    -fx-border-color: #6666FF;
    -fx-text-fill: #fff8f8;
    -fx-cursor: hand;
}

.submit-button {
    -fx-border-style: solid solid solid solid;
    -fx-border-color: #6666FF;
    -fx-border-width: 1;
    -fx-background-color: #6666FF;
    -fx-text-fill: #fff8f8;
}

.submit-button:hover {
    -fx-border-style: solid solid solid solid;
    -fx-border-color: #4D4DB3;
    -fx-border-width: 1;
    -fx-background-color: #333366;
    -fx-text-fill: #fff8f8;
    -fx-cursor: hand;
}

.warn-button {
    -fx-border-style: solid solid solid solid;
    -fx-border-color: #663333;
    -fx-border-width: 1;
    -fx-background-color: #CC3333;
    -fx-text-fill: #DDDDDD;
}

.warn-button:hover {
    -fx-border-style: solid solid solid solid;
    -fx-border-color: #663333;
    -fx-border-width: 1;
    -fx-background-color: #FF3333;
    -fx-text-fill: #DDDDDD;
    -fx-cursor: hand;
}

.thumbnail-preview {
    -fx-border-style: solid solid solid solid;
    -fx-border-color: #FFFFFF;
    -fx-background-color: #000000;
    -fx-border-width: 1;
}

/**
 * Navigation
 */
.navigation-panel {
    -fx-width: 300px;
    -fx-background-color: #272b2f;
}

/**
 * Subpanels
 */
.subpanel {
    -fx-background-radius: 6 6 6 6;
    -fx-border-radius: 6 6 6 6;
    -fx-background-color: #2a2a2a;
}

/**
 * Common Component Theme
 */
.combo-box {
    -fx-font-size : 14px;
}

.combo-box-popup {
    -fx-font-size : 14px;
}

.combo-box-popup .list-view {
    -fx-font-size : 14px;
}


